:root {
  --primary: #E60012;
  --bg-offer: #EF394E;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --text-color: #333333;
  --muted-text: #777777;
  --bg-card-thumb: #E8E8E8;
  --bg-card: #F9F9F9;
  --border-color: #EEEEEE;
  --bg-card: #F9F9F9;
  --bg-brand-box: #F5F7FA;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, peyda;
  direction: rtl;
}

@font-face {
  font-family: peyda;
  src: url(./assets/fonts/Peyda-Regular.woff2);
}

@font-face {
  font-family: peyda-medium;
  src: url(./assets/fonts/Peyda-Medium.woff2);
}

@font-face {
  font-family: peyda-bold;
  src: url(./assets/fonts/Peyda-Bold.woff2);
}

@font-face {
  font-family: yekan;
  src: url(./assets/fonts/yekan-regular.woff);
}

@font-face {
  font-family: yekan-medium;
  src: url(./assets/fonts/yekan-medium.woff);
}

@font-face {
  font-family: yekan-bold;
  src: url(./assets/fonts/yekan-bold.woff);
}

/* fallback */
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-round.woff2) format('woff2');
}

.material-icons-round {
  font-family: 'Material Icons Round' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-regular.woff2) format('woff2');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.font-regular {
  font-family: yekan;
  font-weight: 400;
}

.font-medium {
  font-family: yekan-medium;
  font-weight: 500;
}

.font-bold {
  font-family: yekan-bold;
  font-weight: 700;
}

.peyda-regular {
  font-family: peyda;
  font-weight: 400;
}

.peyda-medium {
  font-family: peyda-medium;
  font-weight: 500;
}

.peyda-bold {
  font-family: peyda-bold;
  font-weight: 700;
}

.material-icons-outlined {
  display: flex !important;
}