:root {
  --primary: #E60012;
  --bg-offer: #EF394E;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --text-color: #333333;
  --muted-text: #777777;
  --bg-card-thumb: #E8E8E8;
  --bg-card: #F9F9F9;
  --border-color: #EEEEEE;
  --bg-card: #F9F9F9;
  --bg-brand-box: #F5F7FA;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  direction: rtl;
}

@font-face {
  font-family: peyda;
  src: url(/assets/fonts/Peyda-Regular.woff2);
}

@font-face {
  font-family: peyda-medium;
  src: url(/assets/fonts/Peyda-Medium.woff2);
}

@font-face {
  font-family: peyda-bold;
  src: url(/assets/fonts/Peyda-Bold.woff2);
}

.font-regular {
  font-family: peyda;
  font-weight: 400;
}

.font-medium {
  font-family: peyda-medium;
  font-weight: 500;
}

.font-bold {
  font-family: peyda-bold;
  font-weight: 700;
}

.material-icons-outlined {
  display: flex !important;
}