.stack-1-banners, .stack-3-banners {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stack-4-banners {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 60px;
}

.stack-4-img {
  padding: 0 10px;
}